/*! one-note-plot v.1.0.0 (1504506496467) ©  */
* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}

#container > div {
    height: 100%;
    width: 100%;
}

.ms-welcome {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    min-height: 500px;
    min-width: 320px;
    overflow: auto;
    overflow-x: hidden;
}

.ms-welcome__progress, .ms-welcome__header {
    min-height: 250px;
    padding: 20px;
    padding-bottom: 30px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.ms-welcome__progress h1, .ms-welcome__header h1 {
    margin-top: 30px;
    text-align: center;
}

.ms-welcome__progress {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.ms-welcome__progress h1 {
    margin-bottom: 80px;
}

.ms-welcome__progress .ms-Spinner .ms-Spinner-label {
    color: #999;
}

.ms-welcome__progress .ms-Spinner .ms-Spinner-circle {
    color: #333;
    border: 1.5px solid #ccc;
    border-top-color: #333;
}

.ms-welcome__main {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
               flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0;
            flex: 1 0 0;
    padding: 30px 20px;
}

.ms-welcome__main h2 {
    width: 100%;
    text-align: center;
}

.ms-welcome__features {
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ms-welcome__features.ms-List .ms-ListItem {
    padding: 0;
    padding-bottom: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.ms-welcome__features.ms-List .ms-ListItem > .ms-Icon {
    font-size: 14pt;
    margin-right: 10px;
}

.ms-welcome__action {
    margin-top: 30px;
}

@media (min-width: 0) and (max-width: 350px) {
    .ms-welcome__features {
        width: 100%;
    }
}

/*# sourceMappingURL=app.css.map*/